@media (min-width: 1440px) {
  .section-container-main {
    display: flex;
    justify-content: center;
  }

  .container {
    margin: 85px 0;
  }

  .input-btn-content {
    width: 30%;
    margin: 20px 24px;
  }

  .section-text-btn {
    width: 60%;
  }

  .logo-title,
  #logo-title_white {
    width: 180px;
  }

  .robot {
    display: block;
  }

  .robot_dm {
    display: none;
  }

  .robot.active,
  .robot_dm.active {
    display: block;
  }

  .robot.disable,
  .robot_dm.disable {
    display: none;
  }
  
}

@media screen and (min-width: 768px) {
  .buttons {
    flex-direction: row;
  }

  .logo-title,
  #logo-title_white {
    width: 150px;
  }
}

/*phones breakpoint*/
@media only screen and (max-width: 600px) {
  .container {
    margin: 20px 0;
    width: 89.5%;
  }

  .input-text {
    height: 220px;
    font-size: 26px;
  }

  .alert {
    left: 20%;
    top: 25%;
    width: 60%;
    padding: 5px 5px;
    font-size: 19px;
  }

  .icon-head {
    width: 41px;
  }

  footer {
    top: 52px;
  }
}
