:root {
  --color-violet: #5f19dd;
  --color-black-dark: #171a25;
  --color-white-bone: #f5f7fa;
}

body {
  background-color: var(--color-violet);
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease all;
}

/*! <--------- Header section --------->*/
/*button dark mode switch*/
.switch-mode {
  background: #4615a0;
  border-radius: 1000px;
  border: none;
  cursor: pointer;
  display: flex;
  outline: none;
  position: relative;
  height: 30px;
}

.switch-mode::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: var(--color-white-bone);
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: 0.3s ease all;
  box-shadow: 0px 0px 2px 2px rgb(0, 0, 0, 0.2);
}

.switch-mode.active::after {
  background: #191920;
  color: #000000;
  right: 0;
  left: unset;
}

span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: var(--color-white-bone);
}

.header-btn {
  background-color: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo-title,
#logo-title_white {
  width: 115px;
}

#logo-title_white {
  display: none;
}

.logo-title.active,
#logo-title_white.active {
  display: block;
}

.logo-title.disable,
#logo-title_white.disable {
  display: none;
}

/*! <--------- Main section --------->*/

.container {
  margin: 60px 0;
  padding: 20px 25px;
  background-color: var(--color-white-bone);
  -webkit-box-shadow: 0px 0px 8px 5px rgba(28, 18, 54, 0.33);
  box-shadow: 0px 0px 8px 5px rgba(28, 18, 54, 0.33);
  min-height: 700px;
  width: 80%;
  border-radius: 20px;
  border: 12px;
}

.text-write {
  border: none;
  outline: none;
  resize: none;
  display: flex;
  border-radius: 22px;
  border: 12px;
  overflow: hidden;
  width: 92%;
  margin: 50px auto;
  box-shadow: 0 0 25px -8px rgba(0, 0, 0, 0.185);
}

.input-text {
  padding: 10px;
  border: none;
  outline: none;
  resize: none;
  text-align: center;
  height: 400px;
  width: 100%;
  background: none;
  font-size: 30px;
  font-family: "Lato";
  font-weight: 700;
  line-height: 120%;
  color: var(--color-violet);
}

/*! <--------- Notification alert section --------->*/

.icon-head {
  margin-top: 15px;
  width: 40px;
}

.alert.active {
  opacity: 1;
}

.bounce-in-top.active {
  -webkit-animation: bounce-in-top 1.1s both;
  animation: bounce-in-top 1.1s both;
}

.alert {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 42%;
  left: 27%;
  align-items: center;
  flex-direction: column;
  line-height: 30px;
  opacity: 0;
  z-index: 1;
  font-weight: bold;
  font-size: 22px;
  color: var(--color-white-bone);
  padding: 30px 30px;
  background: var(--color-violet);
  border-radius: 8px;
  text-align: center;
  transform: translateY(-550px);
  max-width: 400px;
  width: 375px;
  height: 150px;
  box-shadow: 0 0 25px -8px rgba(0, 0, 0, 0.185);
}

.icon-head {
  margin-top: 15px;
  width: 48px;
}

.section-container-main {
  height: 100%;
}

/*! <--------- buttons section --------->*/

.buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.btn {
  padding: 10px;
  margin: 5px 15px;
}

#encript {
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  font-weight: 700;
  font-size: 16px;
  color: var(--color-white-bone);
  border-radius: 10px;
  display: block;
  outline: none;
  border: none;
  transition: all 0.2s ease-in-out;
  background-image: linear-gradient(
    to right,
    #9e69f5 0%,
    #514a9d 51%,
    #9224dc 100%
  );
}

#encript:hover {
  background-position: right center;
  color: var(--color-white-bone);
  text-decoration: none;
  transform: scale(1.12);
}

#decrypt {
  background-image: linear-gradient(
    to right,
    #9e69f5 0%,
    #514a9d 51%,
    #9224dc 100%
  );
}

#decrypt {
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  font-weight: 700;
  font-size: 16px;
  color: var(--color-white-bone);
  border-radius: 10px;
  display: block;
  border: none;
  transition: all 0.2s ease-in-out;
}

#decrypt:hover {
  background-position: right center;
  color: var(--color-white-bone);
  text-decoration: none;
  transform: scale(1.12);
}

#copy-text:hover {
  background-position: right center;
  color: var(--color-white-bone);
  text-decoration: none;
  transform: scale(1.12);
}

#copy-text {
  background-image: linear-gradient(
    to right,
    #9e69f5 0%,
    #514a9d 51%,
    #9224dc 100%
  );
}

#copy-text {
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  font-weight: 700;
  font-size: 16px;
  color: var(--color-white-bone);
  border-radius: 10px;
  display: block;
  border: none;
  transition: all 0.2s ease-in-out;
}

.input-btn-content {
  padding: 20px;
  text-align: center;
  margin: 20px auto;
  width: 94%;
  background-color: none;
  box-shadow: 0 0 25px -8px rgba(0, 0, 0, 0.185);
  border-radius: 15px;
  border: 12px;
  /* position: relative; */
}

.alert-message-box {
  background-color: none;
  position: relative;
}

.alert-message {
  text-align: center;
  font-weight: 700;
  color: var(--color-black-dark);
  font-size: 23px;
}

.alert-message2 {
  text-align: center;
  font-weight: 400;
  color: #430ca8;
  font-size: 17px;
  margin-top: 12px;
}

#text-result {
  font-family: "Lato";
  font-weight: 400;
  font-size: 22px;
  width: 100%;
  height: 100%;
  color: #430ca8;
}

.text-box {
  word-wrap: break-word;
  width: 100%;
  height: 100%;
}

.text-box.disabled {
  display: none;
}

.text-box.active {
  display: block;
}

.text-limit {
  margin: 7px;
  text-align: center;
  color: var(--color-black-dark);
  font-size: 13px;
}

.robot,
.robot_dm {
  margin: 0 auto;
  width: 87%;
  display: none;
}

/*! <--------- footer section --------->*/

footer {
  text-align: center;
  position: relative;
  top: 64px;
}

.footer__content-copyright {
  font-size: 14px;
  line-height: 1.3;
  font-weight: 500;
  color: var(--color-white-bone);
}

.footer__content-copyright a,
.fa-heart {
  color: #c376f7;
  font-weight: 800;
  text-decoration: none;
  transition: all 0.3s;
}

/* .github,
.linkedin,
.twitter,
.instagram {
  transition: all 0.2s ease-in-out;
  margin-right: 18px;
}

.github:hover,
.linkedin:hover,
.twitter:hover,
.instagram:hover,
.fa-github:hover,
.fa-linkedin:hover,
.fa-twitter-square:hover,
.fa-instagram-square:hover {
  transform: scale(1.18);
  text-decoration: underline;
  color: #9224dc;
}

.fa-github,
.fa-linkedin,
.fa-twitter-square,
.fa-instagram-square {
  margin-right: 4px;
}

.github,
.linkedin,
.twitter,
.instagram {
  display: inline-block;
  color: var(--color-violet);
  font-family: "Lato";
  font-weight: 700;
  text-decoration: none;
}

.github,
.linkedin {
  margin-bottom: 6px;
}

.fa-github,
.fa-linkedin,
.fa-twitter-square,
.fa-instagram-square {
  color: var(--color-violet);
}

.container-social-darkMode {
  display: flex;
  width: 35%;
  align-items: center;
  justify-content: end;
}

.name-copy {
  text-decoration: none;
  color: var(--color-black-dark);
  margin-top: 5px;
} */
